version: '3.9'

x-app-common: &app-common
  image: davidjnevin/shop_django:prod
  build:
    dockerfile: dockerfiles/Dockerfile
    context: .
  stdin_open: true
  tty: true
  env_file:
    - ./.env
  restart: always
  depends_on:
    db:
      condition: service_healthy
    redis:
      condition: service_healthy
  volumes:
    - postgres_socket:/var/run/postgresql
    - ./:/app
  networks:
    - nginx_default


services:
  db:
    container_name: shop_database
    image: postgres:14.5
    env_file:
      - ./.env
    restart: always
    healthcheck:
      test: pg_isready -q --username=$$POSTGRES_USER --dbname=$$POSTGRES_DB
      timeout: 45s
      interval: 10s
      retries: 10
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - postgres_socket:/var/run/postgresql/
  redis:
    container_name: shop_project_redis
    image: redis:latest
    restart: always
    healthcheck:
      test: redis-cli ping
      timeout: 45s
      interval: 10s
      retries: 10
    networks:
      - nginx_default
  celery:
    container_name: shop_project_celery_worker
    command: worker
    <<: *app-common
  shop:
    container_name: shop_project_django
    command: server
    stdin_open: true
    ports:
      - "8000:8000"
    tty: true
    <<: *app-common
    networks:
      - nginx_default
  nginx:
    container_name: shop_nginx
    image: nginx:1.23.1
    restart: always
    volumes:
      - ./config/nginx:/etc/nginx/templates
      - ./:/app
    ports:
      - "84:84"
    networks:
      - nginx_default


volumes:
  postgres_data:
  postgres_socket:

networks:
  nginx_default:
    external: true
